#contenidor {
    position: relative;
    overflow: hidden;
    margin: 1%;
    width: 98%;
}

.fons {
    width: 100%;
}

#contenidor img.nau {
    position: absolute;
    width: 20%;
    top: 0%;
    left: 40%;
    animation: aterrar 10s infinite linear;
}

@keyframes aterrar {
    0% {
        top: -25%;
    }
    50%, 100% {
        top: 60%;
    }
}